/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 62.5%;
     font-family: cursive;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
     background: #1C2332;
  
}

nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

nav > section > h1{
     font-family: 'Silkscreen', cursive;
     font-size: 3.5em;
     color: white;
     margin-left: 10rem;
}

nav > section > button{
     height: 2.3em;
     width: 7.3em;
     color: 1C2332;
     background: white;
     font-weight: 600;
     font-size: 2rem;
     border-radius: 3rem;
     margin-right: 10rem;
     border: 0;
     cursor: pointer;
}

main{
     display: flex;
     justify-content: space-between;
     background-image: linear-gradient(174deg, #1C2332  70%, white calc(70% + 2px));
}

main > section > h1{
     font-size: 3.6rem;
     font-weight: 600;
     color: white;
     margin: 12rem 0 0 10rem;
}

main > section > p{
     font-size: 1.8rem;
     color: rgb(228, 224, 224);
     margin: 5.6rem 0 0 10rem;
     line-height: 3rem;
}

main > section > button{
     font-size: 1.8rem;
     color: #1C2332;
     font-weight: 600;
     background: white;
     height: 5.8rem;
     width: 17.4rem;
     border: 2px solid #1C2332;
     border-radius: 2.8rem;
     margin: 5.6rem 0 0 10rem;
     cursor: pointer;
}

main > section > p > span{
     color: #00ffec;
     font-weight: 600;
     font-family: 'Silkscreen', cursive;
}

main > section > img{
     height: 310px;
     margin: 12rem 10rem 0 0;
     /* border: 2.6rem solid #E2E8FE ; */
     border-radius: 1.5rem;
     box-shadow: 0px 16px 58px -3px #111;
}

article{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0 38rem;
}

article > h1{
     font-size: 3rem;
     color: #1C2332;
     font-weight: 600;
     margin: 12rem 0 0 0;
}

article > h1 > span{
     color: #00ffec;
     font-weight: 600;
     font-family: 'Silkscreen', cursive;
}

article > p{
     font-size: 1.8rem;
     text-align: center;
     color: #354057;
     margin: 5.6rem 0 0 0;
     line-height: 3rem;
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
